<h1>{{msg}}</h1>
<h3 id="ex">Alien Awareness</h3>


<div class="fixed-action-btn">
  <a class="btn-floating btn-large green">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a class="btn-floating yellow darken-1"><i class="btn modal-trigger" id="" data-target="modal3">B</i></a>
      <label id="bFlag" for="btn">Search</label></li>
    <li><a class="btn-floating green"><i class="btn modal-trigger" data-target="modal1">A</i></a>
      <label id="bFlag" for="btn">Add to Blog</label></li>
  </ul>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Alien Blog</h4>
  </div>
    <form id="blogger" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input id="title" type="text">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="city" type="text">
          <label for="city">City</label>
        </div>
        <div class="input-field col s6">
          <input id="state" type="text">
          <label for="state">State</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="blog" class="materialize-textarea"></textarea>
          <label for="blog">Spill it</label>
        </div>
      </div>
      <button type="submit" id="submit2" class="modal-close waves-effect waves-green btn-flat">Add to the cause</button>
    </form>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4>Search</h4>
  </div>
  <form id="searchM">
    <div class="input-field col s12">
      <input id="searchTitle" type="search">
      <label for="search">Search by Title</label>
    </div>
    <div class="input-field col s12">
      <input id="searchCity" type="search">
      <label for="search">Search by City</label>
    </div>
    <div class="input-field col s12">
      <input id="searchState" type="search">
      <label for="search">Search by State</label>
    </div>
    <div class="input-field col s12">
      <input id="searchBlogger" type="search">
      <label for="search">Search by UserName</label>
    </div>
    <button type="submit" id="submit1" class="modal-close waves-effect waves-green btn-flat">FindOut</button>
  </form>
</div>

<br>
<ul id="post-list" class="list-group">
{{#each Post}}
{{> post}}
{{/each}}
</ul>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>