<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

                <a href="/blog"><button class="btn btn-lg btn-primary"><span class="fa fa-list-alt"></span>See our Blog</button></a>



<script src="/js/index.js"></script>
