body {
  font-family: fantasy;
  background-color: black;
  color: lightgoldenrodyellow;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px red;
}
#bFlag {
  text-shadow: 2px 2px 5px green;
}
.list-group-item {
  line-height: 2.5;
}
#submit {
  box-shadow: 2px 2px 5px red;
  border-radius: 25px;
}
.container {
  position: relative;
}
.modal-trigger {
  background-color: green;
  height: 100px;
  text-align: center;
}
h1, h3 {
  text-align: center;
  color: whitesmoke;
  border-radius: 25px;
  background-color: green;
  color: lightgoldenrodyellow;
  text-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px lightgoldenrodyellow;
}
#modal1, #modal2 {
  border-radius: 25px;
  background-color: darkslategrey;
}
#username, #password {
  color: white;
}